<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>要优雅的注册</title>
    <link rel="shortcut icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="./css/register.css">
    <link rel="stylesheet" href="./css/general.css">
    <link rel="stylesheet" href="./css/reset.css">
</head>
<body>
<header>
    <div id="h_bg"></div>
    <div class="mask"></div>
    <div id="h_content">
        <div class="l">
            <div class="pic">
                <img src="./img/heimao1.png" alt="要优雅" title="不要优雅，要污!ε=ε=(ノ≧∇≦)ノ">
            </div>
            <div id="logo"><img src="./img/logo.png" alt=""></div>
        </div>
        <div class="r">
            <ul class="nav clearfix">
                <li><a href="##">main</a><div class="bar"></div></li>
                <li><a href="##">technology</a><div class="bar"></div></li>
                <li><a href="##">anime</a><div class="bar"></div></li>
                <li class="n-margin-r"><a href="##">music</a><div class="bar"></div></li>
            </ul>
            <!-- 登录板块，登录：yes，未登录 no -->
            <div class="login_sec no">
                <span><a href="##">login</a></span>
                <span>|</span>
                <span class="current"><a href="##">register</a></span>
            </div>
        </div>
    </div>
</header>
<div id="main">
    <div id="t"><img src="./img/reg.png" alt=""></div>
    <div class="h"></div>
    <div class="main">
        <div class="lishi"></div>
    </div>
    <form action="" >
        <div class="input_wrp">
            <input type="text" name="userName" placeholder="昵称 ( 例 : 要优雅 )">
            <p class="err_msg">错误信息</p>
        </div>
        <div class="input_wrp">
            <div class="safe_con">
                <p>安全系数</p>
                <div class="a_pw">
                    <div class="safe_line"></div>
                    <div class="safe_line"></div>
                    <div class="safe_line"></div>
                    <div class="safe_line"></div>
                    <div class="safe_line"></div>
                </div>
                <p class="desc">安全</p>
            </div>
            <input type="text" name="userName" placeholder="密码( 6-16个字符组成,区分大小写 )">
            <p class="err_msg">错误信息</p>
        </div>
        <div class="input_wrp">
            <input type="text" name="email" id="email" value="981236133@qq.com" placeholder="邮箱">
            <p class="err_msg">错误信息</p>
            <div class="send">send email</div>
        </div>
    </form>
    <div class="getCode">
        获取验证码
    </div>
</div>


</body>
</html>
<script src="./js/jqq.js"></script>
<script>
    let $email = $("#email");
    $(".getCode").click(function () {
        console.log(1)
        Ajax({
            'method' : 'post',
            'url' : '/reg/sendMail',
            'data' : {
                'email' : $email.val()
            },
            success : function (data) {
                console.log(data);
            }
        })
    })
</script>