<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>要优雅~</title>
    <link rel="shortcut icon" href="./img/favicon.ico">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main_body.css">
    <link rel="stylesheet" href="./css/iconfont.css">
    <link rel="stylesheet" href="./css/animate.css">
</head>
<body>
    
<header>
    <div id="h_bg"></div>
    <div class="mask"></div>
    <div id="h_content">
        <div class="l">
            <div class="pic">
                <img src="./img/heimao1.png" alt="要优雅" title="不要优雅，要污!ε=ε=(ノ≧∇≦)ノ">
            </div>
            <div id="logo"><img src="./img/logo.png" alt=""></div>
        </div>
        <div class="r">
            <ul class="nav clearfix">
                <li><a href="##">main</a></li>
                <li><a href="##">technology</a></li>
                <li><a href="##">anime</a></li>
                <li class="n-margin-r"><a href="##">music</a></li>
                <li class="slide_bar"></li>
            </ul>
            <!-- 登录板块，登录：yes，未登录 no -->
        <% if (locals.login) { %>
            <div class="login_sec yes">
        <% } else { %>
            <div class="login_sec no">
        <% } %>

                <span><a href="./login">login</a></span>
                <span>|</span>
                <span><a href="./reg">register</a></span>
                <li class="user">
                    <a href="##">
                        <div class="i_face">
                            <img src="./img/lux.png" alt="站长~">
                        </div>
                    </a>
                    <div class="profile">
                        <b class="name">小朋友你很皮哦小朋友你很皮哦小炮</b>
                        <div class="user_status">
                            <div class="l ">
                                <span>身份：</span>
                                <span class="status">站长</span>
                            </div>
                            <div class="r ">
                                <span>权限等级：</span>
                                <span class="rights_level">Lv3</span>
                            </div>             
                        </div>
                        <div class="lv_con">
                            <span>等级：</span>
                            <em>Lv9</em>
                            <div class="lv_bar">
                                <div class="process"></div>
                                <span class="exp">888/999</span>
                            </div>
                        </div> 
                        <div class="selection">
                            <a href="##">修改资料</a>
                        </div>
                        <div class="footer">
                            <a href="./logout">退出</a>    
                        </div>  
                    </div>
                </li>
                
            </div>
        </div>
    </div>
</header>
<section id="main_bg">
    <div class="main">
        <video src="./video/wanderers.mp4"  controls="controls" width="700" height="360"></video>
        <p title="Wanderers a short film by Erik Wernquist - 漂泊者 ">Wanderers a short film by Erik Wernquist - 漂泊者 </p>
    </div>
</section>
<section id="blank"></section>
<section id="main">
    <div class="main clearfix">
        <div class="l">
            <div class="breadcrumb">
                <a href="##" class="main_page"><i class="icon iconfont icon-home"></i>主页</a>
                <a class="cha">></a>
                <a href="##" class="technology"><i class="icon iconfont icon-keji1"></i>科技</a>
            </div>
            <article>
                <div class="dateCon">
                    <span class="month">10月</span>
                    <span class="day">31</span>
                </div>
                <div class="title_con">
                    <h1>
                        <a href="##"> 2016科幻短片 -漫游者 中文字幕 </a>
                    </h1>
                    <div class="tag_article">
							<span class="label">
								<i class="icon iconfont icon-date"></i>
								17-10-31
							</span>
                        <span class="label">
								<i class="icon iconfont icon-biaoqian"></i>
								1080p Full HD,作品项目
							</span>
                        <span class="label">
								<i class="icon iconfont icon-author"></i>
								blackseptember
							</span>
                        <span class="label">
								<i class="icon iconfont icon-eye"></i>
								4,890
							</span>
                    </div>
                </div>
                <div class="cover">
                    <a href="##">
                        <div class="mask"></div>
                        <img src="./img/main_bg2.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <p>游戏人生原盘其实相当恶劣。暗场多，编码复杂度极高，蓝光还自带欠码。所以处理力度比较大，码率也只能给的比较高。
                        感谢白月字幕组合作并提供外挂字幕。
                        <br />
                        10-bit 1080p AVC + FLAC，MKV 格式。每话约 1.3 GB。
                    </p>
                </div>
                <div class="con clearfix">
                    <a href="##" class="btn play_online">在线观看</a>
                </div>
            </article>
            <article>
                <div class="dateCon">
                    <span class="month">10月</span>
                    <span class="day">31</span>
                </div>
                <div class="title_con">
                    <h1>
                        <a href="##"> 2016科幻短片 -漫游者 中文字幕 </a>
                    </h1>
                    <div class="tag_article">
							<span class="label">
								<i class="icon iconfont icon-date"></i>
								17-10-31
							</span>
                        <span class="label">
								<i class="icon iconfont icon-biaoqian"></i>
								1080p Full HD,作品项目
							</span>
                        <span class="label">
								<i class="icon iconfont icon-author"></i>
								blackseptember
							</span>
                        <span class="label">
								<i class="icon iconfont icon-eye"></i>
								4,890
							</span>
                    </div>
                </div>
                <div class="cover">
                    <a href="##">
                        <div class="mask"></div>
                        <img src="./img/main_bg2.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <p>游戏人生原盘其实相当恶劣。暗场多，编码复杂度极高，蓝光还自带欠码。所以处理力度比较大，码率也只能给的比较高。
                        感谢白月字幕组合作并提供外挂字幕。
                        <br />
                        10-bit 1080p AVC + FLAC，MKV 格式。每话约 1.3 GB。
                    </p>
                </div>
                <div class="con clearfix">
                    <a href="##" class="btn play_online">在线观看</a>
                </div>
            </article>
            <article>
                <div class="dateCon">
                    <span class="month">10月</span>
                    <span class="day">31</span>
                </div>
                <div class="title_con">
                    <h1>
                        <a href="##"> 2016科幻短片 -漫游者 中文字幕 </a>
                    </h1>
                    <div class="tag_article">
							<span class="label">
								<i class="icon iconfont icon-date"></i>
								17-10-31
							</span>
                        <span class="label">
								<i class="icon iconfont icon-biaoqian"></i>
								1080p Full HD,作品项目
							</span>
                        <span class="label">
								<i class="icon iconfont icon-author"></i>
								blackseptember
							</span>
                        <span class="label">
								<i class="icon iconfont icon-eye"></i>
								4,890
							</span>
                    </div>
                </div>
                <div class="cover">
                    <a href="##">
                        <div class="mask"></div>
                        <img src="./img/main_bg2.jpg" alt="">
                    </a>
                </div>
                <div class="desc">
                    <p>游戏人生原盘其实相当恶劣。暗场多，编码复杂度极高，蓝光还自带欠码。所以处理力度比较大，码率也只能给的比较高。
                        感谢白月字幕组合作并提供外挂字幕。
                        <br />
                        10-bit 1080p AVC + FLAC，MKV 格式。每话约 1.3 GB。
                    </p>
                </div>
                <div class="con clearfix">
                    <a href="##" class="btn play_online">在线观看</a>
                </div>
            </article>
            <div id="pages" class="clearfix">
                <ul class="pagination clearfix">
                    <li class="clearfix current"><a href="##">1</a></li>
                    <li class="clearfix"><a href="##">2</a></li>
                    <li class="clearfix"><a href="##">3</a></li>
                    <li class="dots">...</li>
                    <li class="clearfix"><a href="##">4</a></li>
                </ul>
            </div>
        </div>
        <div class="r">
            <div id="search">
                <input type="text" placeholder="搜索..."  />
                <div class="search_btn "><i class="icon iconfont icon-search animated"></i></div>
            </div>
            <div id="login_con">
                <% if(!locals.login) { %>
                    <div class="heading">(｡･ω･｡) 请登录</div>
                <% } else { %>
                    <div class="heading">(｡･ω･｡) 欢迎 <%- locals.login.userName %></div> 
                <% } %>
                <form>
                    <div class="form_group">
                        <div class="icon clearfix">
                            <i class="icon iconfont icon-account"></i>
                        </div>
                        <input type="text" />
                    </div>
                    <div class="form_group">
                        <div class="icon clearfix">
                            <i class="icon iconfont icon-mima"></i>
                        </div>
                        <input type="password" />
                    </div>
                    <!-- 错误信息 show 出现 -->
                    <div class="errmsg clearfix">
                        <span>你的用户名木马错误</span>
                    </div>
                    <input type="submit" class="login btn" value="登录">
                    <a href="##" class="btn reg">注册</a>
                </form>
            </div>
            <aside id="latest_posts">
                <div class="h clearfix">
                    <div class="l">
                        <i class="icon iconfont icon-icon "></i>
                        <span>更新文章</span>
                    </div>
                    <div class="r">
                        <div class="btn">
                            <i class="btn icon iconfont icon-cion24"></i>
                        </div>
                        <!-- <div class="btn">
                            <i class="btn icon iconfont icon-close"></i>
                        </div> -->
                    </div>
                </div>
                <ul class="list_group">
                    <li class="list_item">
							<span class="t">
								<a href="##"> [VCB-Studio 科普教程 1.4] 在 macOS 上使用 IINA 播放器 </a>
							</span>
                        <span class="badge">51</span>
                    </li>
                    <li class="list_item">
							<span class="t">
								<a href="##"> [VCB-Studio 科普教程 1.4] 在 macOS 上使用 IINA 播放器 </a>
							</span>
                        <span class="badge">51</span>
                    </li>
                    <li class="list_item">
							<span class="t">
								<a href="##"> [VCB-Studio 科普教程 1.4] 在 macOS 上使用 IINA 播放器 </a>
							</span>
                        <span class="badge">51</span>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
</section>
<footer>
    要优雅~ (゜-゜)つロ 干杯~   powered by <a href="##">要优雅</a>
</footer>
</body>
</html>
<script src="./js/jqq.js"></script>
<script></script>
<script>
    $('#search').bind('mouseover',() => {
        $("#search i.icon").addClass("rubberBand");
    }).bind('mouseleave',() => {
        $("#search i.icon").removeClass("rubberBand");
    })
</script>