body,
html {
  width: 100%;
  min-width: 1283px;
}
body {
  font-family: "Microsoft Yahei", Arial, sans-serif;
  color: #3d4450;
}
header {
  font-family: 'Helvetica Neue', 'Helvetica', 'Microsoft Yahei', sans-serif;
  position: relative;
  height: 70px;
  background: #000;
}
header #h_bg {
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
}
header .mask {
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #020202 ;
  opacity: 0;
}
header #h_content {
  z-index: 3;
  position: relative;
  width: 1160px;
  height: 100%;
  margin: 0 auto;
}
header #h_content .l {
  position: relative;
  float: left;
  width: 500px;
  height: 100%;
}
header #h_content .l .pic {
  float: left;
  margin-right: 20px;
}
header #h_content .l .pic img {
  height: 70px;
}
header #h_content .l #logo {
  float: left;
}
header #h_content .l #logo img {
  position: relative;
  top: 24px;
  height: 36px;
}
header #h_content .r {
  float: right;
  width: 560px;
  height: 100%;
}
header #h_content .r ul.nav {
  position: relative;
  display: inline-block;
}
header #h_content .r ul.nav li {
  position: relative;
  display: inline-block;
  height: 100%;
  float: left;
  margin-right: 70px;
  line-height: 70px;
  cursor: pointer;
  text-align: center;
}
header #h_content .r ul.nav li:hover .bar {
  visibility: visible;
  opacity: .8;
}
header #h_content .r ul.nav li .bar {
  position: absolute;
  bottom: 16px;
  left: 0;
  right: 0;
  width: 20px;
  height: 2px;
  margin : 0 auto;
  border-radius: 1px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: .2s all linear;
}
header #h_content .r ul.nav li.current {
  opacity: 1;
}
header #h_content .r ul.nav li.current .bar {
  visibility: visible;
  opacity: 1;
}
header #h_content .r ul.nav li.current a {
  color: #fff;
}
header #h_content .r ul.nav li:last-child {
  margin-right: 0;
}
header #h_content .r ul.nav li a {
  display: block;
  height: 100%;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  transition: .1s all linear;
  text-shadow: #ffffff 1px;
}
header #h_content .r ul.nav li a:hover {
  color: #ffffff;
}
header #h_content .r ul.nav li.slide_bar {
  position: absolute;
  bottom: 15px;
  left: 116px;
  display: inline-block;
  width: 25px;
  height: 2px;
  background: #fff;
  opacity: .8;
  border-radius: 1px;
}
header #h_content .r .login_sec {
  float: right;
  display: inline-block;
  text-align: center;
  line-height: 70px;
}
header #h_content .r .login_sec > span {
  display: inline-block;
  color: #fff;
  font-size: 16px;
}
header #h_content .r .login_sec span.current  a {
  color: #fff;
}
header #h_content .r .login_sec span a {
  color: rgba(255, 255, 255, 0.8);
  transition: .1s all linear;
}
header #h_content .r .login_sec span a:hover {
  color: #ffffff;
}
header #h_content .r .login_sec span:nth-child(2) {
  margin: 0 5px;
}

header #h_content .r .login_sec.no > span {
  display: inline-block;
}
header #h_content .r .login_sec.no li.user {
  display: none;
}
header #h_content .r .login_sec.yes > span {
  display: none;
}
header #h_content .r .login_sec.yes li.user {
  display: block;
}
header #h_content .r .login_sec li.user {
  position: relative;
  left: -25px;
  width: 76px;
  height: 50px;
  box-sizing: border-box;
  padding: 0 13px;
  margin: 10px auto 0;
}
header #h_content .r .login_sec li.user:hover .i_face {
  left: -8px;
  top: 15px;
  height: 64px;
  width: 64px;
  border: 2px solid #fff;
}
header #h_content .r .login_sec li.user:hover > a + .profile {
  top: 50px;
  visibility: visible;
  opacity: 1;
}
header #h_content .r .login_sec li.user > a {
  z-index: 9;
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}
header #h_content .r .login_sec li.user > a .i_face {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  transition: .4s all ease;
  border: 0px solid #fff;
}
header #h_content .r .login_sec li.user > a .i_face img {
  display: block;
  width: 100%;
  height: 100%;
}
header #h_content .r .login_sec li.user .profile {
  z-index: 8;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 38px;
  width: 260px;
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .2s all linear;
}
header #h_content .r .login_sec li.user .profile b.name {
  display: block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  font-size: 12px;
}
header #h_content .r .login_sec li.user .profile .user_status {
  height: 20px;
  box-sizing: border-box;
  padding: 0 18px;
  margin-bottom: 12px;
}
header #h_content .r .login_sec li.user .profile .user_status > div {
  display: inline-block;
  width: 50%;
}
header #h_content .r .login_sec li.user .profile .user_status > div span {
  float: left;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-family: 'Arial';
}
header #h_content .r .login_sec li.user .profile .user_status > div span:nth-child(1) {
  margin-right: 8px;
}
header #h_content .r .login_sec li.user .profile .user_status .l {
  float: left;
}
header #h_content .r .login_sec li.user .profile .user_status .l .status {
  width: 48px;
  height: 100%;
  font-weight: bold;
  letter-spacing: 2px;
  color: #fff;
  background: #ffe600;
}
header #h_content .r .login_sec li.user .profile .user_status .r {
  float: right;
}
header #h_content .r .login_sec li.user .profile .user_status .r .rights_level {
  font-weight: bold;
}
header #h_content .r .login_sec li.user .profile .lv_con {
  box-sizing: border-box;
  padding: 0 18px;
  height: 25px;
}
header #h_content .r .login_sec li.user .profile .lv_con span {
  display: inline-block;
  float: left;
  height: 100%;
  text-align: center;
  line-height: 29px;
}
header #h_content .r .login_sec li.user .profile .lv_con span:nth-child(1) {
  margin-right: 10px;
}
header #h_content .r .login_sec li.user .profile .lv_con em {
  display: inline-block;
  font-weight: bold;
  height: 100%;
  line-height: 29px;
  float: left;
  margin-right: 10px;
}
header #h_content .r .login_sec li.user .profile .lv_con .lv_bar {
  display: inline-block;
  float: left;
  background: lightskyblue;
  position: relative;
  width: 138px;
  height: 18px;
  margin-top: 3.5px;
  text-align: center;
  border-radius: 9px;
  overflow: hidden;
}
header #h_content .r .login_sec li.user .profile .lv_con .lv_bar .process {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 80%;
  background: gold;
}
header #h_content .r .login_sec li.user .profile .lv_con .lv_bar .exp {
  display: block;
  position: absolute;
  height: 18px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  font-size: 8px;
  line-height: 18px;
  font-family: 'Arial';
}
header #h_content .r .login_sec li.user .profile .selection {
  height: 20px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 18px;
}
header #h_content .r .login_sec li.user .profile .selection a {
  display: inline-block;
  float: left;
  height: 100%;
  color: #3d4450;
  line-height: 20px;
  transition: .2s color linear;
}
header #h_content .r .login_sec li.user .profile .selection a:hover {
  color: #00a1d6;
}
header #h_content .r .login_sec li.user .profile .footer {
  margin-top: 50px;
  height: 30px;
  padding: 5px 15px;
  box-sizing: border-box;
  background: #f4f5f7;
}
header #h_content .r .login_sec li.user .profile .footer a {
  float: right;
  color: #000;
  height: 100%;
  font-weight: bold;
  line-height: 30px;
}


#main_bg {
  position: relative;
  height: 400px;
  margin: 0 auto;
  background: url('../img/main_bg.jpg') no-repeat 50% -70px;
  background-size: cover;
}
#main_bg .main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -190px;
  margin: 0 auto;
  width: 700px;
}
#main_bg .main p {
  position: relative;
  top: -10px;
  text-align: center;
  color: #3d4450;
  font-size: 20px;
  cursor: default;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#blank {
  height: 200px;
}
footer {
  height: 110px;
  background: #3d4450;
  text-align: center;
  line-height: 110px;
  color: #fff;
}
footer a {
  transition: .2s color linear;
  color: #fff;
}
footer a:hover {
  color: #e74c3c;
}
