header #h_bg {
  background: url('../img/2.png') no-repeat center top;
  filter: blur(3px);
}
#info {
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 180px;
  background: #fff;
  border: 1px solid #4444441f;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: .1s all linear;
}
#info p {
  font-size: 15px;
  text-align: center;
}
#info.success a {
  display: block;
}
#info.show {
  visibility: visible;
  opacity: 1;
}
#info a {
  display: none;
  font-size: 13px;
  margin-top: 40px;
  text-align: center;
  color: lightgreen;
}
#info .close {
  position: absolute;
  right: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-size: 24px;
  transition: .2s all linear;
  color: #333;
  cursor: pointer;
}
#info .close:hover {
  transform: rotate(90deg);
}
#main_bg {
  position: relative;
  background: url('../img/2.png') no-repeat 50% -70px;
  height: 180px;
}
#main_bg a {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}
#main_bg a:hover .m .hint {
  opacity: 1;
}
#main_bg a .m {
  position: relative;
  width: 1080px;
  margin: 0 auto;
}
#main_bg a .m .hint {
  position: absolute;
  left: 186px;
  top: 97px;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 4px;
  opacity: 0;
  transition: .2s opacity ease;
}
#view_con {
  width: 1160px;
  margin: 0 auto;
}
#view_con .info {
  float: left;
  width: 705px;
  height: 115px;
  box-sizing: border-box;
  padding: 5px 0 8px 0;
}
#view_con .info .t h1 {
  display: block;
  font-size: 16px;
  color: #525659;
  font-weight: 700;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
  text-overflow: ellipsis;
  font-weight: normal;
  white-space: nowrap;
  padding: 8px 0;
  font-size: 18px;
}
#view_con .info .linkinfo {
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: 12px;
  height: 16px;
  line-height: 16px;
  color: #666;
  font-size: 12px;
  margin-top: 6px;
  z-index: 10;
  zoom: 1;
}
#view_con .info .linkinfo a {
  color: #99a2aa;
  transition: .2s all linear;
}
#view_con .info .linkinfo a:hover {
  color: #00a1d6;
}
#view_con .info .linkinfo time {
  margin-left: 50px;
}
#view_con .info .v_data {
  margin-top: 5px;
  height: 28px;
  line-height: 28px;
}
#view_con .info .v_data div {
  float: left;
  margin-right: 30px;
  height: 100%;
  line-height: 28px;
}
#view_con .info .v_data i {
  margin-right: 10px;
}
#view_con .info .v_data i.icon-icon1 {
  font-size: 22px;
}
#view_con .info .v_data span {
  position: relative;
  top: -1.5px;
}
#view_con .info .v_data span.danmu {
  top: -4.5px;
}
#view_con #uinfo {
  width: 225px;
  margin-top: 20px;
  float: right;
  background: #fff;
  padding-left: 90px;
  position: relative;
}
#view_con #uinfo .u_face {
  position: absolute;
  top: 5px;
  left: 0;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  float: left;
  margin: 0 10px 0 0;
  z-index: 0;
}
#view_con #uinfo .u_face a {
  display: block;
}
#view_con #uinfo .u_face a img {
  width: 68px;
  text-align: center;
  float: left;
  margin: 0 10px 0 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}
#view_con #uinfo .top .r_info {
  float: left;
  max-width: 60%;
}
#view_con #uinfo .top .r_info .u_name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#view_con #uinfo .top .r_info .u_name a {
  color: #00a1d6;
  font-size: 14px;
  transition: .2s color linear;
}
#view_con #uinfo .top .r_info .u_name a:hover {
  color: #f25d8e;
}
#view_con #uinfo .top .rights {
  float: right;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#view_con #uinfo .top .rights i.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-size: 15px;
  color: gold;
}
#view_con #uinfo .top .rights span {
  font-size: 14px;
  color: gold;
  cursor: pointer;
}
#view_con #uinfo .sign {
  color: #333;
  line-height: 20px;
  min-height: 11px;
  overflow: hidden;
  word-wrap: break-word;
  position: relative;
  cursor: default;
}
#view_con #uinfo .up_video_msg div {
  color: #99a2aa;
  display: inline-block;
  width: 100px;
  cursor: default;
}
.player_wrp {
  border-top: 1px solid #e5e9ef;
  border-bottom: 1px solid #e5e9ef;
  background-color: #f6f9fa;
  margin-top: 30px;
  padding: 20px 0;
}
.player_wrp .main {
  width: 1160px;
  margin: 0 auto;
}
.player_wrp .main .video_con {
  position: relative;
  float: left;
  width: 860px;
  height: 620px;
  background: #000;
}
.player_wrp .main .video_con .hint {
  position: relative;
  height: 50px;
  text-align: center;
  background: #353535;
  box-sizing: border-box;
  padding: 8px 30px;
}
.player_wrp .main .video_con .hint a {
  display: block;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 34px;
  background: #262626;
}
.player_wrp .main .video_con .hint a:hover font {
  text-shadow: 0px 0px 5px #fff;
}
.player_wrp .main .video_con .hint a font {
  transition: .2s all linear;
  text-shadow: 0;
}
.player_wrp .main .video_con video {
  position: relative;
  width: 100%;
  height: 570px;
  color: #fff;
}
.player_wrp .main .video_con #danmu {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 538px;
  overflow: hidden;
  transition: .2s all linear;
  opacity: 1;
  visibility: visible;
}
.player_wrp .main .video_con #danmu.hidden {
  opacity: 0;
  visibility: hidden;
}
.player_wrp .main .video_con #danmu .msg {
  position: absolute;
  box-sizing: border-box;
  padding-left: 10px;
  left: 0;
  bottom: 0;
  width: 300px;
  color: red;
  display: inline-block;
  transition: .2s all linear;
  visibility: visible;
  opacity: 1;
  background: transparent;
}
.player_wrp .main .video_con #danmu .msg.hidden {
  visibility: hidden;
  opacity: 0;
}
.player_wrp .main .video_con #danmu .msg li {
  visibility: visible;
  transition: .2s all linear;
  opacity: 1;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.player_wrp .main .video_con #danmu .msg li.hidden {
  visibility: hidden;
  opacity: 0;
}
.player_wrp .main .video_con #danmu div.dm_info {
  display: inline-block;
  display: none;
  width: auto;
  height: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 12px 20px;
  transition: .2s all linear;
  background-color: #fff;
}
.player_wrp .main .video_con #danmu div.dm_info .font {
  margin: 12px 0;
}
.player_wrp .main .video_con #danmu div.dm_info .font .t {
  width: 30px;
  color: #99a2aa;
  text-align: center;
}
.player_wrp .main .video_con #danmu span {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0;
  white-space: nowrap;
  padding: 3px 5px;
}
.player_wrp .main .video_con #danmu span.user {
  border: 1px solid #fff;
}
.player_wrp .main .video_con #danmu .r {
  position: absolute;
  width: 0;
  right: 0;
  top: 0;
  height: 80%;
}
.player_wrp .main .video_con #senddm_con {
  position: relative;
  width: 100%;
  background: #fff;
  margin-top: -7px;
}
.player_wrp .main .video_con #senddm_con .login_con {
  position: relative;
  height: 38px;
  overflow: hidden;
}
.player_wrp .main .video_con #senddm_con .login_con span {
  position: absolute;
  left: 462px;
  top: 7px;
  white-space: nowrap;
}
.player_wrp .main .video_con #senddm_con .login_con .login_btn {
  width: 38px;
  height: 20px;
  margin: 9px auto;
  background: #00a1d6;
  border-radius: 4px;
  text-align: center;
  line-height: 20px;
}
.player_wrp .main .video_con #senddm_con .login_con .login_btn a {
  color: #fff;
}
.player_wrp .main .video_con #senddm_con .fn {
  display: inline-block;
  float: left;
  width: 40px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
  transition: .2s all linear;
}
.player_wrp .main .video_con #senddm_con .fn:hover {
  background-color: #f4f5f7;
}
.player_wrp .main .video_con #senddm_con .fn:hover i {
  color: #353535;
}
.player_wrp .main .video_con #senddm_con .fn i {
  color: #a2a2a2;
  transition: .2s color linear;
}
.player_wrp .main .video_con #senddm_con #input_dm {
  width: 635px;
  display: inline-block;
  border: 0;
  outline: none;
  height: 38px;
  box-sizing: border-box;
  z-index: 12;
  padding: 0 10px;
  background: transparent;
  font-size: 12px;
  color: #6b6b6b;
  border-left: 1px solid #ebebeb;
}
.player_wrp .main .video_con #senddm_con .send_bt {
  float: right;
  margin-right: 5px;
  height: 28px;
  width: 40px;
  line-height: 28px;
  text-align: center;
  padding: 0 10px 0 14px;
  margin-top: 4px;
  border-radius: 4px;
  background-color: #00a1d6;
  vertical-align: middle;
  border: 1px solid #00a1d6;
  transition: .2s;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  transition-property: background-color, border, color;
}
.player_wrp .main .video_con #senddm_con .send_bt:hover {
  background-color: #00b5e5;
}
.player_wrp .main .video_con #senddm_con .send_bt.ban {
  background-color: #ccd0d7;
  color: #fff;
  border: 1px solid #ccd0d7;
  cursor: not-allowed;
}
.player_wrp .main .video_con #senddm_con .ban_dm {
  float: right;
  width: 40px;
  height: 38px;
  margin-right: 5px;
  text-align: center;
  line-height: 38px;
  cursor: pointer;
}
.player_wrp .main .video_con #senddm_con .ban_dm.ban i {
  color: red;
}
.player_wrp .main .video_con #senddm_con .ban_dm i {
  display: block;
  width: 40px;
  height: 38px;
  text-align: center;
  font-size: 28px;
  transition: .2s color linear;
}
.player_wrp .main .danmu_con {
  position: relative;
  border-left: 1px solid #e2e2e2;
  display: inline-block;
  width: 300px;
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  vertical-align: top;
}
.player_wrp .main .danmu_con .err {
  width: 100%;
  height: 500px;
  text-align: center;
  line-height: 500px;
  height: 588px;
}
.player_wrp .main .danmu_con .err a {
  color: red;
  font-size: 14px;
}
.player_wrp .main .danmu_con .player_info {
  width: 100%;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  padding-left: 20px;
  text-align: left;
  z-index: 20;
  background-color: #fff;
  position: relative;
  color: #99a2aa;
  cursor: default;
}
.player_wrp .main .danmu_con .player_info em {
  font-size: 16px;
  color: #222;
  font-weight: bolder;
  margin: 0 3px;
}
.player_wrp .main .danmu_con .dm_t > div {
  float: left;
  text-align: center;
  line-height: 32px;
  height: 32px;
  box-sizing: border-box;
  cursor: default;
  color: #99a2aa;
}
.player_wrp .main .danmu_con .dm_t .time {
  width: 58px;
  text-align: left;
  padding-left: 20px;
  padding-right: 0;
}
.player_wrp .main .danmu_con .dm_t .content {
  border: 0;
  width: 146px;
  padding: 0 8px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  text-align: left;
}
.player_wrp .main .danmu_con .dm_t .date {
  border: 0;
  padding: 0 8px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  width: 78px;
  text-align: left;
}
.player_wrp .main .danmu_con .dm_list {
  height: 566px;
  overflow-y: auto;
}
.player_wrp .main .danmu_con .dm_list li {
  line-height: 24px;
  height: 24px;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: relative;
  color: #99a2aa;
}
.player_wrp .main .danmu_con .dm_list li span {
  display: inline-block;
  box-sizing: border-box;
}
.player_wrp .main .danmu_con .dm_list li span.dm_time {
  width: 58px;
  position: relative;
  text-align: left;
  overflow: hidden;
  padding-left: 20px;
}
.player_wrp .main .danmu_con .dm_list li span.dm_content {
  width: 146px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: top;
  padding: 0 6px;
  box-sizing: border-box;
  display: inline-block;
}
.player_wrp .main .danmu_con .dm_list li span.dm_date {
  width: 78px;
  white-space: nowrap;
  overflow: hidden;
}
.player_wrp .main .danmu_con .dm_list li:hover div.btn {
  visibility: visible;
  opacity: 1;
  color: #fff;
  background-color: #00a1d6;
}
.player_wrp .main .danmu_con .dm_list li div.btn {
  position: absolute;
  top: 0;
  right: 22px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  text-align: center;
  line-height: 24px;
  border: 1px solid #00a1d6;
  color: #00a1d6;
  background: #fff;
  visibility: hidden;
  border-radius: 5px;
  opacity: 0;
  transition: .1s all linear;
}
.comment_wrp .main {
  width: 1160px;
  margin: 30px auto 0;
}
.comment_wrp .main .l {
  width: 860px;
}
.comment_wrp .main .l .c_num_h span {
  font-size: 18px;
  color: #222;
}
.comment_wrp .main .l .c_num_h span.num {
  margin-right: 8px;
}
.comment_wrp .main .l .c_h {
  margin-top: 12px;
  margin: 0 0 24px;
  border-bottom: 1px solid #e5e9ef;
}
.comment_wrp .main .l .c_h ul {
  float: left;
}
.comment_wrp .main .l .c_h ul li {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  padding: 8px 0;
  margin-right: 16px;
  border-bottom: 1px solid transparent;
  position: relative;
  float: left;
  cursor: pointer;
  line-height: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #222;
}
.comment_wrp .main .l .c_h ul li.on {
  border-bottom: 1px solid #00a1d6;
  color: #00a1d6;
}
.comment_wrp .main .l .c_h .pages_con {
  float: right;
  line-height: 36px;
}
.comment_wrp .main .l .c_h .pages_con .result {
  padding-right: 10px;
  margin: 0;
}
.comment_wrp .main .l .c_h .pages_con span {
  margin: 0 4px;
  cursor: pointer;
  transition: .2s all linear;
}
.comment_wrp .main .l .c_h .pages_con span:hover {
  color: #00a1d6;
}
.comment_wrp .main .l .c_h .pages_con .current {
  color: #00a1d6;
}
.comment_wrp .main .l .c_h .pages_con .disable {
  display: none;
}
.comment_wrp .main .l .c_send {
  margin: 10px 0;
}
.comment_wrp .main .l .c_send .user_face {
  float: left;
  margin: 7px 0 0 5px;
  position: relative;
}
.comment_wrp .main .l .c_send .user_face img {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.comment_wrp .main .l .c_send.no-login .textarea_con .send_comment {
  cursor: default;
  background-color: #e5e9ef!important;
  border-color: #e5e9ef!important;
  color: #b8c0cc!important;
}
.comment_wrp .main .l .c_send.no-login .textarea_con textarea {
  background-color: #e5e9ef;
}
.comment_wrp .main .l .c_send.no-login .textarea_con .baffle_wrp {
  display: block;
}
.comment_wrp .main .l .c_send .textarea_con {
  position: relative;
  width: 705px;
  height: 68.2px;
  margin-left: 85px;
  margin-right: 80px;
}
.comment_wrp .main .l .c_send .textarea_con textarea {
  font-size: 12px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #f4f5f7;
  border: 1px solid #e5e9ef;
  overflow: auto;
  border-radius: 4px;
  color: #555;
  width: 100%!important;
  height: 65px;
  transition: 0s;
  padding: 5px 10px;
  line-height: normal;
  outline: none;
  resize: none;
  transition: .2s all linear;
}
.comment_wrp .main .l .c_send .textarea_con textarea:focus {
  background-color: #fff;
  border-color: #00a1d6;
}
.comment_wrp .main .l .c_send .textarea_con textarea:hover {
  background: #fff;
  border-color: #00a1d6;
}
.comment_wrp .main .l .c_send .textarea_con .baffle_wrp {
  display: none;
}
.comment_wrp .main .l .c_send .textarea_con .baffle_wrp .baffle {
  display: block;
  position: absolute;
  z-index: 102;
  width: 100%;
  top: 0;
  line-height: 64px;
  font-size: 12px;
  border-radius: 4px;
  text-align: center;
  color: #777;
  background-color: #e5e9ef;
  overflow: hidden;
}
.comment_wrp .main .l .c_send .textarea_con .baffle_wrp .baffle .btn {
  padding: 4px 9px;
  margin: 0 3px;
  color: #fff;
  background-color: #00a1d6;
  border-radius: 4px;
  transition: .2s all linear;
}
.comment_wrp .main .l .c_send .textarea_con .baffle_wrp .baffle .btn:hover {
  background-color: #00b5e5;
}
.comment_wrp .main .l .c_send .send_comment {
  width: 70px;
  height: 64px;
  position: absolute;
  right: -80px;
  top: 0;
  padding: 4px 15px;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  min-width: 60px;
  vertical-align: top;
  cursor: pointer;
  background-color: #00a1d6;
  border: 1px solid #00a1d6;
  transition: .1s;
  user-select: none;
  outline: none;
}
.comment_wrp .main .l .c_send .c_emoji {
  padding: 0;
  width: 66px;
  height: 24px;
  color: #99a2aa;
  border: 1px solid #e5e9ef;
  border-radius: 4px;
  position: relative;
  z-index: 101;
  font-size: 12px;
  text-align: center;
  line-height: 23px;
  margin-left: 86px;
  margin-top: 3px;
  cursor: pointer;
}
.comment_wrp .main .l .c_send .c_emoji .emoji_btn {
  transition: .2s all linear;
}
.comment_wrp .main .l .c_send .c_emoji .emoji_btn:hover {
  color: #6d757a;
}
.comment_wrp .main .l .c_send .c_emoji i {
  position: relative;
  top: 2px;
  left: -2px;
}
.comment_wrp .main .l .c_send .c_emoji .emoji_box {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30px;
  width: 388px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ccd0d7;
  cursor: default;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.14);
  transition: .2s all linear;
}
.comment_wrp .main .l .c_send .c_emoji .emoji_box.show {
  visibility: visible;
  opacity: 1;
}
.comment_wrp .main .l .c_send .c_emoji .emoji_box .emoji_t {
  height: 20px;
  line-height: 20px;
  margin: 8px 18px 0;
  color: #99a2aa;
  text-align: left;
}
.comment_wrp .main .l .c_send .c_emoji .emoji_box .emojis {
  height: 152px;
  overflow: auto;
}
.comment_wrp .main .l .c_send .c_emoji .emoji_box .emojis .emoji-text {
  color: #111;
  border-radius: 4px;
  transition: background .2s;
  display: inline-block;
  padding: 3px 5px;
  margin: 2px 3px;
  outline: 0;
  text-decoration: none;
  cursor: pointer;
}
.comment_wrp .main .l .c_send .c_emoji .emoji_box .emojis .emoji-text:hover {
  background-color: #ddd;
}
.comment_wrp .main .l p.c_err {
  text-align: center;
  font-size: 20px;
  height: 45px;
  color: red;
}
.comment_wrp .main .l p.c_none {
  text-align: center;
  font-size: 13px;
  height: 45px;
  color: #888;
}
.comment_wrp .main .l .c_list {
  padding-top: 20px;
}
.comment_wrp .main .l .c_list .list_item .user_face {
  float: left;
  margin: 24px 0 0 5px;
  position: relative;
}
.comment_wrp .main .l .c_list .list_item .user_face img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.comment_wrp .main .l .c_list .list_item .con {
  position: relative;
  margin-left: 85px;
  padding: 22px 0 14px;
  border-top: 1px solid #e5e9ef;
}
.comment_wrp .main .l .c_list .list_item .con .user {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  padding-bottom: 4px;
  display: block;
  word-wrap: break-word;
}
.comment_wrp .main .l .c_list .list_item .con .user span {
  color: #6d757a;
  font-weight: bold;
}
.comment_wrp .main .l .c_list .list_item .con .user a {
  color: #6d757a;
  font-weight: bold;
  margin-right: 3px;
  transition: .2s all linear;
}
.comment_wrp .main .l .c_list .list_item .con .user a:hover {
  color: #00a1d6;
}
.comment_wrp .main .l .c_list .list_item .con .user .text_con {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.comment_wrp .main .l .c_list .list_item .con .text {
  line-height: 20px;
  padding: 2px 0;
  font-size: 14px;
  text-shadow: none;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-word;
}
.comment_wrp .main .l .c_list .list_item .con .info span {
  margin-right: 20px;
  color: #99a2aa;
}
.comment_wrp .main .l .c_list .list_item .con .info span.like i {
  cursor: pointer;
  transition: .2s all linear;
}
.comment_wrp .main .l .c_list .list_item .con .info span.like i:hover {
  color: #00a1d6;
}
.comment_wrp .main .l .c_list .list_item .con .info span.like.on i {
  color: #00a1d6;
}
.comment_wrp .main .l .c_list .list_item .con .info span.res {
  padding: 0 5px;
  border-radius: 4px;
  margin-right: 15px;
  cursor: pointer;
  display: inline-block;
  transition: .2s all linear;
}
.comment_wrp .main .l .c_list .list_item .con .info span.res:hover {
  color: #00a1d6;
  background: #e5e9ef;
}
.comment_wrp .main .l .c_list .list_item .con .reply_box {
  padding: 10px 0;
}
.comment_wrp .main .l .c_list .list_item .con .reply_box .reply_item .reply_con {
  margin-left: 34px;
}
.comment_wrp .main .l .c_list .list_item .con .reply_box .reply_item a {
  float: left;
  margin-right: 6px;
  cursor: default;
}
.comment_wrp .main .l .c_list .list_item .con .reply_box .reply_item a img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.comment_wrp .main .l .c_list .list_item .con .reply_box .reply_item .user .name {
  margin-right: 6px;
}
.comment_wrp .main .l .c_list .list_item .con .reply_box .reply_item .text_con {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
