.userInfo_con {
  margin-top: 26px;
}
.userInfo_con .userInfo_mid {
  width: 1080px;
  margin: 0 auto;
  height: 500px;
  box-sizing: border-box;
  padding: 20px;
  border: 1px dashed #ddd;
}
.userInfo_con .userInfo_mid .l {
  width: 296px;
  float: left;
  height: 500px;
  box-sizing: border-box;
  padding: 50px;
}
.userInfo_con .userInfo_mid .l .tx {
  position: relative;
  width: 200px;
  height: 200px;
  background: url('../img/doggy.JPEG') no-repeat center;
  background-size: cover;
}
.userInfo_con .userInfo_mid .l .tx .mask {
  width: 100%;
  height: 100%;
  background: black;
  opacity: .3;
}
.userInfo_con .userInfo_mid .l .tx .o {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px dashed yellow;
  background: url('../img/doggy.JPEG') no-repeat center;
  background-size: cover;
}
.userInfo_con .userInfo_mid .l .change_btn {
  display: block;
  outline: none;
  background-image: none;
  width: 80px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  margin: 10px auto;
  overflow: hidden;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background: #00a1d6;
  opacity: 1;
  transition: .3s opacity linear;
}
.userInfo_con .userInfo_mid .l .change_btn:hover {
  opacity: .6;
}
.userInfo_con .userInfo_mid .l .hint {
  text-align: center;
  color: #999;
}
.userInfo_con .userInfo_mid .l .err {
  color: red;
  display: none;
}
.userInfo_con .userInfo_mid .l .err.show {
  display: inline;
}
.userInfo_con .userInfo_mid .r {
  width: 740px;
  float: left;
  box-sizing: border-box;
  height: 500px;
  padding: 50px;
}
.userInfo_con .userInfo_mid .r .li {
  height: 30px;
  background: white;
  margin-bottom: 22px;
}
.userInfo_con .userInfo_mid .r .li.auto {
  height: auto;
}
.userInfo_con .userInfo_mid .r .li.bar {
  width: 100%;
}
.userInfo_con .userInfo_mid .r .li span {
  width: 95px;
  height: 100%;
  margin-right: 20px;
  text-align: right;
  line-height: 30px;
  font-size: 14px;
  color: #48576a;
  float: left;
  cursor: default;
}
.userInfo_con .userInfo_mid .r .li span.hint {
  width: auto;
  color: red;
  opacity: 0;
  transition: .1s opacity linear;
}
.userInfo_con .userInfo_mid .r .li span.hint.show {
  opacity: 1;
}
.userInfo_con .userInfo_mid .r .li b.hint {
  color: red;
  font-size: 12px;
  line-height: 30px;
  font-weight: normal;
}
.userInfo_con .userInfo_mid .r .li b.hint.right {
  color: #42ff00;
}
.userInfo_con .userInfo_mid .r .li .input_text {
  float: left;
  height: 30px;
  width: 225px;
  margin-right: 40px;
  border-color: #8391a5;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bfcbd9;
  box-sizing: border-box;
  color: #1f2d3d;
  font-size: 14px;
  line-height: 1;
  outline: 0;
  padding: 3px 10px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.userInfo_con .userInfo_mid .r .li .input_text:focus {
  border-color: #20a0ff !important;
}
.userInfo_con .userInfo_mid .r .li .input_text:hover {
  border-color: #8391a5;
}
.userInfo_con .userInfo_mid .r .li textarea.sign {
  float: left;
  width: 525px;
  height: 88px;
  resize: none;
  display: block;
  padding: 5px 7px;
  line-height: 1.5;
  color: #1f2d3d;
  background-color: #fff;
  border: 1px solid #bfcbd9;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
  font-size: 14px;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.userInfo_con .userInfo_mid .r .li textarea.sign:hover {
  border-color: #8391a5;
}
.userInfo_con .userInfo_mid .r .li textarea.sign:focus {
  border-color: #20a0ff;
}
.confirm {
  width: 100px;
  height: 30px;
  background: #00a1d6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  margin: 20px auto;
  opacity: 1;
  transition: .2s all linear;
}
.confirm:hover {
  opacity: .7;
}
